<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="STANDARD_PATTERN" value="%d [%thread] %-5level  %logger{35} - %msg%n"/>


    <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
        <encoder>
            <pattern>${STANDARD_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>